* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: white;
    font-weight: 400;
    font-family: sans-serif;
}
.block{
    margin-top: 50px;
}
body {
    background-image: url("./sprites/fon.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

#back {
    display: none;
    /*width: 100px;*/
    /*height: 50px;*/

}
#back.none:hover{
    transition: 0.4s all ease;
    transform: scale(1.2,1.2);
}
#back.none {

    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}
#pause {
    display: none;
    /*width: 100px;*/
    /*height: 50px;*/
    /*background-color: rgba(114, 114, 224, 0.56);*/

}

#pause.none {

    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}
#pause.none:hover{
    transition: 0.4s all ease;
    transform: scale(1.2,1.2);
}
#canvas {
    display: none;

    background-color: #c1ffc2;
}
.block{
}
.game {
    /*width: 800px;*/
    /*height: 600px;*/
    position: relative;

}

#canvas.none {
    display: block;

}
#btns img{
    width: 150px;



}
#btns {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#btns.none {
    display: none;
}
.pause_back{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#scoreBlock.none {
    padding: 20px;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
    display: flex;
    background-color: #66cc3c;
    border-radius:  0 0 20px 20px;
}
#scoreBlock.none .tank{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
#scoreBlock.none .tank h1{
    font-size: 20px;
    font-weight: 800;
}
#scoreBlock.none .tank#c0 h1{
    color: green;
}
#scoreBlock.none .tank#c1 h1{
    color: yellow;
}
#scoreBlock.none .tank#c2 h1{
    color: red
}
#scoreBlock.none .tank#c3 h1{
    color: blue;
}
#scoreBlock {
    display: none;
}

.wrap_sc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap_sc img{
    width: 80px;
}
#scoreBlock h1 {

}
.playBtn h1{
    text-align: center;
    font-size: 40px;

}

#play{
    background-color: #eee;
    border-radius: 20px;
    display: flex;
    /*overflow: hidden;*/
}
.playBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s all ease;
    padding: 100px;
    background-color: transparent;
    border: 0;
    border-radius: 20px;
}
.playBtn:hover{
    transition: 0.4s all ease;
    transform: scale(1.2,1.2);
}
.game {
    padding: 0;
    background-image: url("./sprites/fon.png");
    min-height: 120%;
    /*padding: 50px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: transparent;
    position: relative;

    background-repeat: no-repeat;
    background-size: cover;


}
.setConfigurations{
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.game button {
    width: 100%;
    height: 50px;
}

#cfgBtn {
    display: block;
}
#cfgBtn.none {
    display: none;
}

