* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: white;
    font-weight: 400;
    font-family: sans-serif;
}
.block{
    margin-top: 50px;
}
body {
    background-image: url("./sprites/fon.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

#back {
    display: none;
    /*width: 100px;*/
    /*height: 50px;*/

}

#back.none {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}
#pause {
    display: none;
    /*width: 100px;*/
    /*height: 50px;*/
    /*background-color: rgba(114, 114, 224, 0.56);*/

}

#pause.none {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}
#canvas {
    display: none;

    background-color: #eee;
}
.block{
}
.game {
    /*width: 800px;*/
    /*height: 600px;*/
    position: relative;

}

#canvas.none {
    display: block;

}

#btns {
    display: block;
    width: 38%;
}

#btns.none {
    display: none;
}
.pause_back{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#scoreBlock.none {
    height: 200px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    background-color: #8bd76e;
    border-radius:  0 0 20px 20px;
}
#scoreBlock.none .tank{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
#scoreBlock.none .tank:nth-child(1){
    border: 1px solid black;
    color: green;
}
#scoreBlock.none .tank:nth-child(2){
    border: 1px solid black;

    color: yellow;
}
#scoreBlock.none .tank:nth-child(3){
    border: 1px solid black;

    color: red;
}
#scoreBlock {
    display: none;
}

#scoreBlock h1 {

}
.playBtn h1{
    text-align: center;
    font-size: 40px;

}
.playBtn{
}
#play{
    overflow: hidden;
}
.playBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s all ease;
    padding: 100px;
    background-repeat: no-repeat;

    background-size: cover;

    background-image: url("./sprites/play_btn.png") ;
    border: 0;
    border-radius: 20px;
}
.playBtn:hover{
    transition: 0.4s all ease;
    transform: scale(1.2,1.2);
}
.game {
    padding: 0;
    background-image: url("./sprites/fon.png");
    min-height: 120%;
    /*padding: 50px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: transparent;
    position: relative;

    background-repeat: no-repeat;
    background-size: cover;


}
.setConfigurations{
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.game button {
    width: 100%;
    height: 50px;
}

.cfgBtn {
}


